*{
    padding:0;
    margin:0 auto;
}
body{
    font-family: "微软雅黑";
}
.nav{
    width:980px;
    height: 617px;
    background: url(../儿童摄影/images/bg.jpg);
    padding-top:10px;
}

.bg{
    width:848px;
    height: 46px;
    background: url(../儿童摄影/images/nav.png);
    padding:40px 0 0 123px;
}
.bg span{
    padding:0 30px;
}
.bg .more{
    margin-right: 240px;
}


.dongtai{
    width:980px;
    height: 300px;
    background: url(../儿童摄影/images/dongtai.jpg) no-repeat;
    margin:18px auto;
    padding-top:120px;
}

.news{
    width:294px;
    height: 256px;
    float:left;
    margin-left:30px;

}
.one{
    font-size:16px;
    height: 50px;
    line-height: 50px;
    border-bottom:1px solid #ddd;
    padding-left:10px;
}

.two{
    height: 70px;
    width:284px;
    line-height: 20px;
    font-size:12px;
    color:#bbb;
    padding-top:10px;
    padding-left:10px;
    
}

.three{
    width:294px;
    height: 5px;
    background:url(../儿童摄影/images/yinying.jpg)
}


.yangpian{
    width: 980px;
    height: 292px;
    background: url(../儿童摄影/images/xinshang.jpg) no-repeat;
    padding-top:170px;
}

.pic{
    width:916px;
    height: 260px;;
}

.pic img{
    margin-left:60px;
}


.footer{
    width: 100%;
    height: 180px;
    background: url(../儿童摄影/images/footer_bg.jpg) repeat-x;
    color:#fff;
    text-align: center;
    line-height: 80px;
}

.tree{
    position: fixed;
    right: 5%;
    bottom: 5%;
} 